<launch>
    <node pkg="network_analysis" name="link_utilization_3" type="link_utilization.py" output="screen"/> 
    <node pkg="edge_robot" name="e3_cpu_profiler" type="e3_cpu_profiler.py" output="screen"/>
    <node pkg="edge_robot" name="e3_task_profiler" type="e3_task_profiler.py" output="screen"/>

</launch>