<launch>

  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find edge_robot)/maps/aws_map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="true"/>

  <arg name="first_tb3"  default="tb3_1"/>
 
  <arg name="first_tb3_x_pos" default=" 3.299220561"/>
  <arg name="first_tb3_y_pos" default=" 1.2965835"/>
  <arg name="first_tb3_z_pos" default=" 0.0"/>
  <arg name="first_tb3_yaw"   default=" 0.0"/>

 
  <param name="/use_sim_time" value="true"/>

  <group ns = "$(arg first_tb3)">
   <!--param name="tf_prefix" value="$(arg first_tb3)"/-->

   <!-- Move base -->
   <include file="$(find edge_robot)/launch/move_base_tb3_1.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>
   <!--node pkg="tf" type="static_transform_publisher" name="map_to_map" args="0 0 0 0 0 0 0  /tb3_1/map /map  1000"/-->
  </group>

  <!-- rviz 
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz_1" required="true"
          args="-d $(find edge_robot)/rviz/multi_turtlebot3_navigation.rviz"/>
  </group>
  -->

  
</launch>